!!!
%html
  %head
    %title Exam Writer
    
    %meta{charset: "utf-8"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}/

    %link{rel: "stylesheet", href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"}

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    
    = csrf_meta_tags
  %body
    = render partial: "shared/header"

    = render partial: "shared/flash", locals: { flash: flash }
    
    = yield

    = render partial: "shared/footer"

    = javascript_include_tag "application", "data-turbolinks-track" => true
